<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>
  <body>
    <div
      class="login-page"
      style="display: flex; flex-direction: column; gap: 23px"
    >
      <h1 style="font-size: 53x; text-align: center">Web-based email system</h1>
      <div class="login-page_container">
        <h2 style="margin-bottom: 50px; text-align: center">Đăng nhập</h2>
        <% if (message) { %>
        <p style="color: red"><%= message %></p>
        <% } %>
        <form action="/login" method="POST">
          <label>Email:</label>
          <input type="email" name="email" required />
          <br />
          <label>Password:</label>
          <input type="password" name="password" required />
          <br />
          <button type="submit">Signin</button>
        </form>
        <p>don't have an account? <a href="/register">Signup</a></p>
      </div>
    </div>
  </body>
</html>
