<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <title>Outbox</title>
  </head>
  <body>
    <div class="sent-page">
      <h2 class="sent-page_title">Outbox</h2>
      <div class="sent-page_action">
        <a href="/compose">Compose Email</a>
        <a href="/logout">Log out</a>
      </div>
      <div style="display: flex; justify-content: center">
        <table class="sent-page-table">
          <tr>
            <th>Receiver</th>
            <th>Topic</th>
            <th>Date sent</th>
          </tr>
          <% emails.forEach(email => { %>
          <tr>
            <td><%= email.receiver %></td>
            <td><a href="/email/<%= email.id %>"><%= email.subject %></a></td>
            <td><%= email.created_at %></td>
          </tr>
          <% }) %>
        </table>
      </div>
    </div>
  </body>
</html>
